.travel-card{

}

.dataCard{
    cursor:pointer;
    filter: contrast(100%) brightness(100%);
    transition: .25s ease-in-out;
  }
  .dataCard:hover{
    filter: contrast(108%) brightness(108%);
    transition: .25s ease-in-out;
  }
