<div class="container mainContainer">
    <h3 class="text-primary mb-3">Els meus viatges</h3>

    <div class="row justify-content-center">

        <div *ngFor="let travel of travels" class="col-md-3 mb-3">
            <div class="card travel-card dataCard" (click)="null" style="cursor: pointer;">
              <img src="https://images.unsplash.com/photo-1727259066904-a7a1e43c6a5d" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Barcelona juny 2024</h5>
                <p class="card-text">This is a longer card with supporting text</p>
              </div>
            </div>
          </div>


        </div>


</div>