<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-3">
	<div class="container-fluid">
		<img src="assets/bta-logo-b.png" class="float-end" style="max-width: 35px;" alt="...">
		<a class="navbar-brand" [routerLink]="'.'"> OurTravel</a>

		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">


			  <ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/travels'" (click)="isMenuCollapsed = true">Els meus viatges</a>
				</li>
				<li *ngIf="authService.isAuthenticated() == false" class="nav-item">
					<a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true"><i class="fa-regular fa-user"></i> Inici de sessió</a>
				</li>
				<li *ngIf="authService.isAuthenticated() == true" class="nav-item">
					<a class="nav-link" [routerLink]="'/profile'" (click)="isMenuCollapsed = true"><i class="fa-regular fa-user"></i> User</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
