
<h5 class="text-primary">Activitats <button type="button" class="btn btn-sm btn-outline-primary"
    (click)="null"><i class="fa-regular fa-plus"></i></button></h5>

<div class="row">

    <div *ngFor="let travel of expenses" class="col-md-2 col-sm-3  mb-3">
        <div class="card travel-card" (click)="null">
            <div class="card-body">
                <h6 class="card-title">Visitar la sagrada familia</h6>
                <p class="card-text">15/05/2023 - 20/05/2023</p>
            </div>
        </div>
    </div>



</div>