
<h5 class="text-primary">Activitats <button type="button" class="btn btn-sm btn-outline-primary"
    (click)="null"><i class="fa-regular fa-plus"></i></button></h5>

<div class="row">

    <div *ngFor="let travel of documents" class="col-lg-2 col-md-3 col-sm-4  mb-3">
        <div class="card travel-card" (click)="null">
            <div class="card-body">
                <h6 class="card-title"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i> PDF</h6>
                <h6 class="card-title"> Entrada sagrada familia</h6>
                <p class="card-text">Eric</p>
            </div>
        </div>
    </div>



</div>