<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-3">
	<div class="container-fluid">
		<img src="assets/bta-logo-b.png" class="float-end" style="max-width: 35px;" alt="...">
		<a class="navbar-brand" [routerLink]="'.'"> OurTravel</a>

		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">


			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/'" (click)="isMenuCollapsed = true">Home <i
							class="fa-solid fa-home"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/travels'" (click)="isMenuCollapsed = true">Els meus viatges <i
							class="fa-solid fa-earth-europe"></i></a>
				</li>
				<li *ngIf="!this.userService.getCurrentUser()._id" class="nav-item">
					<a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true"> Iniciar sessió
						<i class="fa-solid fa-user"></i></a>
				</li>
				<li *ngIf="this.userService.getCurrentUser()._id" class="nav-item">
					<a class="nav-link" [routerLink]="'/profile'"
						(click)="isMenuCollapsed = true">{{this.userService.getCurrentUser().alias}}

						<img style="width: 30px;margin-left: 5px;" class="profile-image float-end"
							*ngIf="this.userService.getCurrentUser().profileImage !=null"
							[src]="environment.apiUrl+'file/profileImage/'+this.userService.getCurrentUser().profileImage">
						<img style="width: 30px;margin-left: 5px;" class="profile-image float-end"
							*ngIf="this.userService.getCurrentUser().profileImage ==null"
							[src]="'assets/userPlaceholder.png'">


					</a>

				</li>
			</ul>
		</div>
	</div>
</nav>