<h5 class="text-primary">Hotels <button type="button" class="btn btn-sm btn-outline-primary"
        (click)="openAddNewHotel(newHotelModal)"><i class="fa-regular fa-plus"></i></button></h5>

<div class="row justify-content">

    <div *ngFor="let hotel of hotels" class="col-md-2 mb-3">
        <app-travel-element [name]="hotel.name" [type]="'hotel'" [description]="hotel.destination.location"
            [logo]="'bed'" [dateFrom]="hotel.destination.dateFrom" [dateTo]="hotel.destination.dateTo"
            (onClick)="openAddNewHotel(newHotelModal,hotel)" (onDelete)="removeHotel(hotel)">
        </app-travel-element>

    </div>

    <div *ngIf="hotels.length == 0">
        <div class="alert alert-primary" role="alert">
            Encara res per aqui.
        </div>
    </div>
</div>

<ng-template #newHotelModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary">Nou Hotel</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="container">
            <div class="row mb-3">
                <div class="col md-12 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nameFloatingInput" [(ngModel)]="selectedHotel.name">
                        <label for="nameFloatingInput">Nom</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col md-12 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="addressFloatingInput"
                            [(ngModel)]="selectedHotel.address">
                        <label for="addressFloatingInput">Adreça</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col md-12">
                    <div class="form-floating">
                        <select class="form-select" id="fromDestination" aria-label="Destinació origen"
                            [(ngModel)]="selectedHotel.destination" [compareWith]="compareFn">
                            <option [value]="null" selected>Casa</option>
                            <option *ngFor="let destination of destinations" [ngValue]="destination">
                                {{destination.country}} {{destination.location}}</option>
                        </select>
                        <label for="parentCategory">Destinació</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col md-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px" [(ngModel)]="selectedHotel.comment"></textarea>
                        <label for="floatingTextarea2">Comentaris adicionals</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button *ngIf="!selectedHotel._id" type="submit" class="btn btn-primary"
            (click)="addNewHotel()">Guardar</button>
        <button *ngIf="selectedHotel._id" type="submit" class="btn btn-primary" (click)="updateHotel()">Guardar</button>
        <button type="submit" class="btn btn-secondary" (click)="modal.close('Close click')">Tanca</button>
    </div>
</ng-template>