<h5 class="text-primary">Hotels <button type="button" class="btn btn-sm btn-outline-primary"
        (click)="openAddNewHotel(newHotelModal)"><i class="fa-regular fa-plus"></i></button></h5>

<div class="row justify-content">

    <div *ngFor="let hotel of hotels" class="col-md-2 mb-3">        
        <div class="card travel-card" (click)="openAddNewHotel(newHotelModal,hotel)" >            
        <i class="fa fa-bed fa-3x card-img-top text-primary" style="margin: 0.1em;"
        aria-hidden="true"></i>
            <div class="card-body">
                <h6 class="card-title">{{hotel.name}}</h6>
                <h6 class="card-title">{{hotel.destination?.location}}</h6>
                <p class="card-text">{{hotel.destination?.dateFrom| date:'dd/MM/yyyy'}} - {{hotel.destination?.dateTo| date:'dd/MM/yyyy'}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="hotels.length == 0">
        <div class="alert alert-primary" role="alert">
            Encara res per aqui.
        </div>
    </div>
</div>

<ng-template #newHotelModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary">Nou Hotel</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="container text-center">
            <div class="row mb-3 justify-content-md-center">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nameFloatingInput" [(ngModel)]="selectedHotel.name">
                    <label for="nameFloatingInput">Nom</label>
                </div>
            </div>
            <div class="row mb-3 justify-content-md-center">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="addressFloatingInput"
                        [(ngModel)]="selectedHotel.address">
                    <label for="addressFloatingInput">Adreça</label>
                </div>
            </div>

            <div class="row mb-3 justify-content-md-center">
                <div class="col md-12">
                    <div class="form-floating">
                        <select class="form-select" id="fromDestination" aria-label="Destinació origen"
                            [(ngModel)]="selectedHotel.destination" [compareWith]="compareFn">
                            <option [value]="null" selected>Casa</option>
                            <option *ngFor="let destination of destinations" [ngValue]="destination">
                                {{destination.country}} {{destination.location}}</option>
                        </select>
                        <label for="parentCategory">Destinació</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3 justify-content-md-center">
                <div class="col md-12 mb-3">
                    <label for="typeahead-basic">Comentaris adicionals</label>
                    <textarea id="typeahead-basic" type="text" class="form-control"
                        [(ngModel)]="selectedHotel.comment"></textarea>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button *ngIf="selectedHotel._id" type="submit" class="btn btn-danger"
            (click)="removeHotel();modal.close('Close click')">Eliminar</button>
        <button *ngIf="!selectedHotel._id" type="submit" class="btn btn-primary"
            (click)="addNewHotel()">Guardar</button>
        <button *ngIf="selectedHotel._id" type="submit" class="btn btn-primary" (click)="updateHotel()">Guardar</button>
        <button type="submit" class="btn btn-secondary" (click)="modal.close('Close click')">Tanca</button>
    </div>
</ng-template>