<div class="container mainContainer">

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-primary">Troba el viatge dels teus somnis</h3>
    </div>
    <div class="col-md-8">
      <div class="form-floating mb-3">
        <input id="floatingInput" type="text" class="form-control" [ngbTypeahead]="searchCountry" [(ngModel)]="query"
          (ngModelChange)="getTravelsByCountry()" />
        <label for="floatingInput"><i class="fa fa-magnifying-glass"></i> Busca el pais on vols viajar</label>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div *ngFor="let travel of travels" class="col-md-3 mb-3">

      <app-public-travel-card [travel]="travel"></app-public-travel-card>


    </div>
  </div>

</div>