<h5 class="text-primary">Activitats <button type="button" class="btn btn-sm btn-outline-primary" (click)="addNewImage()"><i
            class="fa-regular fa-plus"></i></button></h5>
            <input id="inputprofileImage" type="file" accept="image/*" (change)="onFileSelected($event)" />

<div class="row">
    <div *ngFor="let image of images" class="col-md-4 col-sm-6  mb-3">
        <div class="card travel-card" (click)="null">
            <img [src]="image.imageUrl" class="card-img-top destination-image" style="height: 300px;" alt="...">
            <div class="card-body">
                <div class="mb-2" style="border-radius: 10px;border-color: grey;border: 1px;background-color: #f2f2f2; padding-left: 1em;padding-right: 1em;">
                    <p class="card-text">User: comentari</p>
                </div>
                <div class="mb-2" style="border-radius: 10px;border-color: grey;border: 1px;background-color: #f2f2f2; padding-left: 1em;padding-right: 1em;">
                    <p class="card-text">User: comentari</p>
                </div>
            </div>
        </div>
    </div>
</div>
