<div class="container smallContainer">

    <div class="row">


        <div class="col-md-3">
            <img src="assets/userPlaceholder.png" class="float-end" style="border-radius: 50%; max-width: 100%;"
                alt="...">
        </div>

        <!-- Modificar dades usuari -->

        <div class="col-md-9 mb-3">
            <h3 class="text-primary mb-3">Dades de l' usuari.</h3>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="profileInputName" class="form-label">Alies</label>
                        <input type="text" class="form-control" id="profileInputName" name="profileAlias"
                            [disabled]="!editing" [(ngModel)]="user.alias">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="profileInputName" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="profileInputName" name="profileName"
                            [disabled]="!editing" [(ngModel)]="user.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <label for="profileInputSurname" class="form-label">Cognoms</label>
                        <input type="text" class="form-control" id="profileInputSurname" name="profileSurname"
                            [disabled]="!editing" [(ngModel)]="user.surname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <label for="profileInputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="profileInputEmail" name="profileEmail"
                            [disabled]="!editing" [(ngModel)]="user.email">
                    </div>
                </div>
                <div *ngIf="!editing" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button" (click)="editing = !editing">Modificar
                        dades</button>
                </div>
                <div *ngIf="editing" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="submit" (click)="updateUserProfile()">Actualitzar
                        dades</button>

                    <button class="btn btn-secondary me-md-2" type="button" (click)="cancelEditUser()">Cancelar</button>
                </div>
            </form>
            <!-- Modificar Password -->
            <form>
                <div class="row">
                    <div class="col-md mb-3">
                        <label for="profileInputSurname" class="form-label">Anterior password</label>
                        <input type="password" class="form-control" id="lastPassword" name="lastPassword"
                            [disabled]="!changePassword" [(ngModel)]="oldPassword">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <label for="profileInputSurname" class="form-label">Nou password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                            [disabled]="!changePassword" [(ngModel)]="newPassword">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <label for="profileInputEmail" class="form-label">Confirmació del password</label>
                        <input type="password" class="form-control" id="newPassword2" name="newPassword2"
                            [disabled]="!changePassword" [(ngModel)]="confirmPassword">
                    </div>
                </div>
                <div *ngIf="!changePassword" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button"
                        (click)="changePassword = !changePassword">Modificar password</button>
                </div>
                <div *ngIf="changePassword" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="submit" (click)="updatePassword();">Actualitzar
                        password</button>

                    <button class="btn btn-secondary me-md-2" type="button" (click)="resetPassword();">Cancelar</button>
                </div>
            </form>
            <div class="d-grid mt-3 gap-2 d-md-flex">
                <button class="btn btn-danger me-md-2" type="submit" (click)="logout();">Tancar sessió</button>
            </div>

        </div>
    </div>
</div>