<div class="container smallContainer">
    <h3 class="text-primary">Inici de sessió</h3>
    <form class="form">
        <div class="row">
            <div class="mb-3">
                <label for="loginInputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="loginInputEmail" aria-describedby="emailHelp"
                    name="loginEmail" [(ngModel)]="loginEmail">
            </div>
            <div class="mb-3">
                <label for="loginInputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginInputPassword" name="loginPassword"
                    [(ngModel)]="loginPassword">
            </div>
            <div class="col-md-6">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="d-grid gap-2 d-md-flex">
                    <button class="btn btn-primary" type="submit" (click)="login()">Inicia Sessió</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container smallContainer mt-3">
    <h3 class="text-primary">Registrarse</h3>
    <form class="form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="signUpInputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="signUpInputEmail" aria-describedby="emailHelp"
                                name="newUserEmail" [(ngModel)]="newUser.email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="signUpInputName" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="signUpInputName" name="newUserName"
                                [(ngModel)]="newUser.name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="signUpInputSurname" class="form-label">Cognoms</label>
                            <input type="text" class="form-control" id="signUpInputSurname" name="newUserSurname"
                                [(ngModel)]="newUser.surname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="signUpInputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="signUpInputPassword" name="newUserePassword"
                                [(ngModel)]="newUser.password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="signUpInputPassword2" class="form-label">Confirmació del Password</label>
                            <input type="password" class="form-control" id="signUpInputPassword2"
                                name="newUserePassword2" [(ngModel)]="passwordConfirm">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="register()">Registrarse</button>
            </div>
        </div>
    </form>

</div>